iframe {
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.principal {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.principal-esquerda {
    width: 50%;
    height: 70vh;
    float: left;
}

.principal-direita {
    margin-left: 50%;
    height: 75%;
}
.principal-direita h1
{
    text-align: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.get {
}

.get input {
    cursor: default;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.sub
{
    width: 100%;
}

