{% extends "base.html" %} {% block title %} {{title}} {% endblock %} {% block
import %}
<link rel="stylesheet" href="static/css/house.css" />
<link rel="icon" class="tab-icon" href="static/img/icon.svg" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

{% endblock %} 
{% block bodyBlock %} 
    {% if title == "London Housing" %}
        onload="getParams('gb', [-0.510375,51.28676,0.334015,51.691874,], {{postal}})" 
    {% else %}
        onload="getParams('us',[-124.862197896945,45.5435400017256,-116.916070668425,49.0121490866648,], ['none'])" 
    {% endif %}
{% endblock %} 
{% block body %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div class="principal">
    <div class="principal-esquerda">
        <iframe class="frame-map" id="frame-map" src="/map" width="100%" height="100%"></iframe>
    </div>
    <div class="principal-direita">
        <h1>Predict the price of your house!</h1>
        <form class="container pt-4" action="#" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <div class="autocomplete">
                    <input type="text" id="myInput" type="text" name="myCountry" class="form-control mt-1"
                        placeholder="Ex. 40 Vauxhall Bridge Road, Westminster" required/>
                </div>
            </div>
            <div class="form-group get">
                <div class="row">
                    <div class="col-sm">
                        <input type="text" name="lat" id="lat" class="form-control mt-1" placeholder="latitude"
                            readonly />
                    </div>
                    <div class="col-sm">
                        <input type="text" name="long" id="long" class="form-control mt-1" placeholder="latitude"
                            readonly />
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col">
                    <label for="inputbed">Bedrooms</label>
                    <input type="number" class="form-control" name="inputbed" id="inputbed" required/>
                </div>
                <div class="form-group col">
                    <label for="inputbath">Bathrooms</label>
                    <input type="number" class="form-control" name="inputbath" id="inputbath" required/>
                </div>
                <div class="form-group col">
                    <label for="inputsq">Sqft</label>
                    <input type="number" class="form-control" name="inputsq" id="inputsq" required/>
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col">
                    <label for="inputHouseType">House Type</label>
                    <select class="form-select" aria-label="Default select example" name="inputHouseType"
                        id="inputHouseType" required>
                        <option value="">Select a house type</option>
                        <option value="House">House</option>
                        <option value="Flat / Apartment">Flat / Apartment</option>
                        <option value="New development">New development</option>
                        <option value="Penthouse">Penthouse</option>
                        <option value="Studio">Studio</option>
                        <option value="Bungalow">Bungalow</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Mews">Mews</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="inputRecep">Receptions</label>
                    <input type="number" class="form-control" name="inputRecep" id="inputRecep" required/>
                </div>
                <div class="form-group col">
                    <label for="inputzip">ZipCode</label>
                    <input type="text" class="form-control" name="inputzip" id="inputzip" onchange="checkPostalcode()" readonly>
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col-md-4">
                    <label for="submit"></label>
                    <button title="Click for price predict" type="submit" id="submit" class="sub btn btn-primary btn-block">Submit</button>
                </div>
                {% if pred_form != -1 %}
                <div class="form-group col">
                    <label for="predict"></label>
                    <h4 name="predict">Your house has a predict price of {{ pred_form }}$</h4>
                </div>
                {% endif %}
            </div>
            <div class="row pt-2" id="notLondonDiv">
                <div class="form-group col">
                    <h5 name="notLondon">This house is not in Greater London</h5>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="static/js/mapbox.js"></script>
{% endblock %}