{% extends "base.html" %} {% block title %} {{title}} {% endblock %} {% block
import %}
<link rel="stylesheet" href="static/css/house.css" />
<link rel="icon" class="tab-icon" href="static/img/icon.svg" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

{% endblock %} 
{% block bodyBlock %} 
    {% if title == "London Housing" %}
        onload="getParams('gb', [-0.510375,51.28676,0.334015,51.691874,], {{postal}})" 
    {% else %}
        onload="getParams('us',[-124.862197896945,45.5435400017256,-116.916070668425,49.0121490866648,], ['none'])" 
    {% endif %}
{% endblock %} 
{% block body %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div class="principal">
    <div class="principal-esquerda">
        <iframe class="frame-map" id="frame-map" src="/map" width="100%" height="100%"></iframe>
        <form action="\deletePoints" method="POST">
            <p>Delete past predictions <a id='deleteLink' onclick="this.closest('form').submit();return false;">here</a>.</p>
        </form>
    </div>
    <div class="principal-direita">
        <h1>Predict the price of your house!</h1>
        <form class="container pt-4" action="#" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group mt-1">
                <div class="autocomplete">
                    <div class="input-group">
                        {% if formData == [] %}
                            <input type="text" id="myInput" type="text" name="myInput" class="form-control myInput"
                                placeholder="Ex. 40 Vauxhall Bridge Road, Westminster" required/>
                            <div id="append" class="input-group-append">
                                <span class="input-group-text searchIcon"><i id="iconSearch" class="fas fa-search"></i><i hidden id="iconCircle" class="fas fa-times-circle"></i></span>
                            </div>
                        {% else %}
                            <input type="text" id="myInput" type="text" name="myInput" class="form-control myInput"
                                value="{{formData[0]}}" placeholder="Ex. 40 Vauxhall Bridge Road, Westminster" required/>
                            <div id="append" class="input-group-append">
                                <span id="appendSpan" name="searchSpan" class="input-group-text searchIcon"><i hidden id="iconSearch" class="fas fa-search"></i><i id="iconCircle" class="fas fa-times-circle"></i></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group get">
                <div class="row">
                    <div class="col-sm">
                        {% if formData == [] %}
                            <input type="text" name="lat" id="lat" class="form-control mt-1" placeholder="latitude"
                            readonly />
                        {% else %}
                            <input type="text" name="lat" id="lat" class="form-control mt-1" placeholder="latitude"
                            value="{{formData[1]}}" readonly />
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        {% if formData == [] %}
                            <input type="text" name="long" id="long" class="form-control mt-1" placeholder="longitude"
                            readonly />
                        {% else %}
                            <input type="text" name="long" id="long" class="form-control mt-1" placeholder="longitude"
                            value="{{formData[2]}}" readonly />
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col">
                    <label for="inputbed"><i class="fas fa-bed"></i> Bedrooms</label>
                    {% if formData == [] %}
                        <input placeholder="Ex. 3" type="number" class="form-control" name="inputbed" id="inputbed" min="1" pattern="\d+" required/>
                    {% else %}
                        <input placeholder="Ex. 3" value="{{formData[4]}}" type="number" class="form-control" name="inputbed" id="inputbed" min="1" pattern="\d+" required/>
                    {% endif %}
                </div>
                <div class="form-group col">
                    <label for="inputbath"><i class="fas fa-bath"></i> Bathrooms</label>
                    {% if formData == [] %}
                        <input placeholder="Ex. 2" type="number" class="form-control" name="inputbath" id="inputbath" min="1" pattern="\d+" required/>
                    {% else %}
                        <input placeholder="Ex. 2" value="{{formData[5]}}" type="number" class="form-control" name="inputbath" id="inputbath" min="1" pattern="\d+" required/>
                    {%endif %}
                </div>
                <div class="form-group col">
                    <label for="inputRecep"><i class="fas fa-couch"></i> Receptions</label>
                    {% if formData == [] %}
                        <input placeholder="Ex. 1" type="number" class="form-control" name="inputRecep" id="inputRecep" min="0" pattern="\d+" required/>
                    {% else %}
                        <input placeholder="Ex. 1" value="{{formData[6]}}" type="number" class="form-control" name="inputRecep" id="inputRecep" min="0" pattern="\d+" required/>
                    {% endif %}
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col">
                    <label for="inputHouseType"><i class="fas fa-house-user"></i> House Type</label>
                    <select class="form-select" aria-label="Default select example" name="inputHouseType" id="inputHouseType" required>
                        <option value="">Select a house type</option>
                        <option {% if formData[7] == "House" %} selected {% endif %} value="House">House</option>
                        <option {% if formData[7] == "Flat / Apartment" %} selected {% endif %} value="Flat / Apartment">Flat / Apartment</option>
                        <option {% if formData[7] == "New development" %} selected {% endif %} value="New development">New development</option>
                        <option {% if formData[7] == "Penthouse" %} selected {% endif %} value="Penthouse">Penthouse</option>
                        <option {% if formData[7] == "Studio" %} selected {% endif %} value="Studio">Studio</option>
                        <option {% if formData[7] == "Bungalow" %} selected {% endif %} value="Bungalow">Bungalow</option>
                        <option {% if formData[7] == "Duplex" %} selected {% endif %} value="Duplex">Duplex</option>
                        <option {% if formData[7] == "Mews" %} selected {% endif %} value="Mews">Mews</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="inputsq"><i class="fas fa-arrows-alt-h"></i> Square Foot (ft<sup>2</sup>)</label>
                    {% if formData == [] %}
                        <input placeholder="Ex. 120" type="number" class="form-control" name="inputsq" id="inputsq" min="1" pattern="\d+" required/>
                    {% else %}
                        <input placeholder="Ex. 120" value="{{formData[8]}}" type="number" class="form-control" name="inputsq" id="inputsq" min="1" pattern="\d+" required/>
                    {% endif %}
                </div>
                <div class="form-group col">
                    <label for="inputzip"><i class="fas fa-map-signs"></i> ZipCode</label>
                    {% if formData == [] %}
                        <input type="text" class="form-control" name="inputzip" id="inputzip" onchange="checkPostalcode()" readonly>
                    {% else %}
                        <input type="text" class="form-control" name="inputzip" id="inputzip" onchange="checkPostalcode()" value="{{formData[3]}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="row pt-2">
                <div class="form-group col-md-4">
                    <label for="submit"></label>
                    <button title="Click for price predict" type="submit" id="submit" class="sub btn btn-primary btn-block">Submit</button>
                </div>
                {% if pred_form != -1 %}
                <div class="form-group col">
                    <label for="predict"></label>
                    {% if currency == "USD" %}
                        <h4 name="predict">Your house has a predict price of {{ pred_form }} $</h4>
                    {% else %}
                        <h4 name="predict">Your house has a predict price of {{ pred_form }} £</h4>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row pt-2" id="notLondonDiv">
                <div class="form-group col">
                    <h5 name="notLondon">This house is not in Greater London</h5>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}